/**
 * Generic styles
 */
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Fauna One', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/**
 * Typography
 */
a {
    color: #fff;
}
h1, h2, h3 {
    font-family: inherit;
}
p {
    line-height: 160%;
}

/**
 * Structure
 */
.page {
    height: 100%;
    width: 100%;
}
    .page section {
        overflow: auto;
        position: relative;
    }

/**
 * Information
 */
.information {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
    .information .title {
        color: #fff;
        font-size: 3em;
        font-family: inherit;
        margin: 1em auto;
        text-align: center;
    }
    /* Boxes */
    .information .boxes {
        height: 250px;
        left: 0;
        margin-top: -125px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        width: 1000px;
    }
        .information .boxes .title {
            border-bottom: 1px dotted #fff;
            display: inline-block;
            font-size: 1.5em;
            margin-bottom: 10px;
            padding: 0 5px;
        }
        .information .boxes ul {
            background: rgba(0,255,255,.7);
            border-radius: 125px;
            display: inline-block;
            height: 250px;
            list-style: none;
            padding: 3.5em 0 0;
            width: 250px;
        }
        .information .boxes li,
        .information .boxes li a {
            color: #fff;
        }
    /* More button */
    .information .more {
        bottom: 20px;
        color: #fff;
        left: 50%;
        margin: 0 auto 0 -100px;
        position: absolute;
        text-align: center;
        width: 200px;
    }
    /* Mobile view & tablet view */
    @media only screen and (max-width: 900px) {
        .information {}
            .information .boxes {
                width: 100%;
            }
    }
    @media only screen and (max-width: 820px) {
        .information .boxes ul {
            font-size: .8em;
            border-radius: 100px;
            height: 200px;
            width: 200px;
        }
    }
    @media only screen and (max-width: 767px) {
        .information {
            height: auto;
        }
            .information .boxes {
                height: auto;
                margin-top: 0;
                position: relative;
                top: 0;
                width: 100%;
            }
                .information .boxes .box {
                    padding: 0;
                }
                .information .boxes .box ul {
                    margin: 0;
                }
                .information .boxes .title {
                    font-size: 3em;
                    margin: 0 0 .5em;
                }
                .information .boxes ul {
                    border-radius: 0;
                    height: auto;
                    padding: 0 0 3em;
                    width: 100%;
                }
                .information .boxes .box:first-child ul {
                    padding-top: 3em;
                }
    }

/**
 * Work
 */
.work {
    background: #fafafa;
    padding: 2em 0 4em;
}
    .work a {
        color: #000;
    }
    .work .item {
        min-height: 300px;
        transition: .3s;
    }
    .work .item:hover {
    }
    .work .item:last-child {
        float: left;
    }
        .work .item a {
            display: block;
            padding: 20px;
        }
        .work .item .title {
            font-size: 2em;
            margin: 0 0 10px;
            text-align: left;
            word-wrap: break-word;
        }
        .work .item .date {
            color: #999;
        }
        /* Languages */
        .work .item .language {
            background: #000;
            border-radius: 5px;
            color: #fff;
            opacity: .5;
            padding: 2px 5px;
        }
        .work .item .language.javascript {
            background: #e2662d;
            color: #fff;
        }
        .work .item .language.viml {
            background: #49944b;
            color: #fff;
        }
        .work .item .language.shell {
            background: #536ccb;
        }
    /* Mobile view */
    @media only screen and (max-width: 767px) {
        .work .item {
            min-height: 0;
            padding: 1em 0;
        }
    }

/**
 * Footer
 */
footer {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
    footer p {
        background: rgba(0,255,255,.7);
        padding: 40px 0;
    }
