/**
 * Generic styles
 */
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Fauna One', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/**
 * Typography
 */
a {
    color: blue;
}
h1, h2, h3 {
    font-family: inherit;
}
p {
    line-height: 160%;
}

/**
 * Structure
 */
.page {
    height: 100%;
    width: 100%;
}
    .page section {
        overflow: auto;
        position: relative;
    }
    .page .logo {
        background: rgba(255,255,255,.7);
        color: #000;
        font-weight: bold;
        left: 2em;
        position: fixed;
        top: 2em;
        transition: .5s;
        z-index: 1;
    }
    .page .logo:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
        .page .logo a {
            color: #000;
            display: block;
            padding: .5em;
        }
    .page .logo.dark {
        background: rgba(0,0,0,.7);
    }
        .page .logo.dark a {
            color: #fff;
        }
    /* Mobile view */
    @media only screen and (max-width: 767px) {
        .page .logo {
            left: 1em;
            top: 1em;
        }
    }

/**
 * Information
 */
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fafafa;
    text-align: center;

}
    .information ul {
        list-style: none;
    }
    .information .title {
        font-size: 3em;
        font-family: inherit;
        margin: 1em auto;
        text-align: center;
    }

/**
 * Footer
 */
footer {
    background-size: cover;
    color: #fff;
    text-align: center;
}
footer .layer {
    padding: 40px 0;
    background-color: blue;
    }
    footer .me {
        border-radius: 75px;
        height: 75px;
        margin: 0 auto 1em auto;
        overflow: hidden;
        transition: .5s;
        width: 75px;
    }
    footer .me:hover {
        box-shadow: 0 0 50px #fff;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    footer p {
        margin-bottom: 0;
    }
